@import "tailwindcss";

.lendingPage {
  background-image: url('/back.png');
  background-size: cover;
  background-position: center;
}


/* Make the scrollbar appear only on hover */
.scrollbar-hidden-style {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Hides the scrollbar by default */
}
.scrollbar-hidden-style:hover {
  /* For Firefox, show the scrollbar on hover */
  scrollbar-color: #a0aec0 transparent; /* Use a gray color for visibility */
}
.scrollbar-hidden-style::-webkit-scrollbar {
  /* For Webkit browsers */
  width: 8px;
  background-color: transparent;
}
.scrollbar-hidden-style::-webkit-scrollbar-thumb {
  /* Hide the thumb by default */
  background-color: transparent;
  border-radius: 4px;
}
.scrollbar-hidden-style:hover::-webkit-scrollbar-thumb {
  /* Show the thumb on hover */
  background-color: #a0aec0; /* Use a light gray color for visibility */
}


.loader {
  color: rgb(195, 61, 13);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  
/* rgb(0, 7, 35)
rgb(0, 6, 34) 
rgb(0,12,60
*/